a {
  text-decoration: none;
}
.navigation li,
p a {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}
h1 {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}
.paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.tittle2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

body {
  font-family: sans-serif;
}
.paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.header {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}
img {
  border-radius: 10px;
}
.inpt {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  line-height: 30px;
}
.btn {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
